<section class="w-full">
  <form
    class="flex flex-row justify-between"
    #createForm="ngForm"
    (ngSubmit)="addTask()"
  >
    <mat-form-field class="h-[10%]">
      <mat-label>Name</mat-label>
      <input
        type="text"
        matInput
        [formControl]="taskNameFormControl"
        [errorStateMatcher]="matcher"
        name="taskName"
      />
      <mat-error
        *ngIf="
          taskNameFormControl.hasError('pattern') &&
          !taskNameFormControl.hasError('required')
        "
      >
        Task name should only include alphabets(A-Z)
      </mat-error>
      <mat-error *ngIf="taskNameFormControl.hasError('required')"
        >Task name is required</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        matInput
        [formControl]="taskDescriptionFormControl"
        [errorStateMatcher]="matcher"
        name="taskDescription"
      ></textarea>

      <mat-error *ngIf="taskDescriptionFormControl.hasError('required')"
        >Task Description is required</mat-error
      >
    </mat-form-field>
    <mat-form-field class="h-[10%]">
      <mat-label>Categories</mat-label>
      <mat-select
        [formControl]="taskCategoryIdFormControl"
        [errorStateMatcher]="matcher"
      >
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <button [disabled]="!createForm.valid" color="primary">Add Task</button> -->
    <button
      mat-raised-button
      color="primary"
      [disabled]="
        !(
          taskNameFormControl.valid &&
          taskCategoryIdFormControl.valid &&
          taskDescriptionFormControl.valid
        )
      "
    >
      Add Task
    </button>
  </form>
</section>
